# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datasets
imdb_dataset/
*.csv
*.zip

# Entornos virtuales
venv/
env/
.venv/

# Modelos guardados
saved_models/
*.pth
*.pt
*.model
*.bin
*.weights

# Archivos de caché de Hugging Face
.cache/
kagglehub_cache/

# Archivos de NLTK
nltk_data/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Variables de entorno
.env